@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    color: #a85816;;
    font-family:  sans-serif;
}

h1, h2{
    font-weight: 800;
    color: #fffdfd;

}

.wrapper{
    width: 100%;
    margin: 0 auto;

}

main{
    display: block;
    background-image: url(https://cdn.pixabay.com/photo/2017/02/07/09/02/wood-2045380_1280.jpg);
    
}
.container{
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 30px;
    animation: surgir 5s ease-in-out;
    animation-timeline: view();
    animation-range: cover 0 cover 50%;

}

section.modulo p{
    margin-bottom: 30px;
    text-align: justify;
    font-size: 1.3em;

}

section.modulo h2 {
    margin-bottom: 40px;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

section.modulo.content{
    padding: 40px 0;
    color: #ffffff;

}

section.modulo.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
position: relative;
overflow: hidden;
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}


section.modulo.parallax h1{
    color: #f1ebeb;
    text-align: center;
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 10px 10px 10px #000000;
    z-index: 50;
}

section.modulo.parallax::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;z-index: 8;
    background: linear-gradient(to bottom, rgba(21, 5, 5, 0) 0, rgba(0,0,0,0) 40%, #1a1919 100%);

}


    





section.modulo.parallax-1{
    background-image: url(https://images.unsplash.com/photo-1497515114629-f71d768fd07c?auto=format&fit=crop&q=80&w=1484&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
section.modulo.parallax-2{
    background-image: url(https://cdn.pixabay.com/photo/2020/10/12/15/55/coffee-5649213_1280.jpg);
}
section.modulo.parallax-3{
    background-image: url(https://images.unsplash.com/photo-1549903072-7e6e0bedb7fb?auto=format&fit=crop&q=80&w=1374&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

@keyframes surgir {
    from{
     translate: -100vw 0;
     color: rgba(134, 26, 19, 0.623);
     opacity: 1;
    }

    to{
     translate: 0 0;
    }
}

@media all and (max-width: 760px) {
    section.modulo p{
        margin-bottom: 10px;
        text-align: center;
        font-size: 1em;
    
    }

    section.modulo.parallax h1{
        color: #f1ebeb;
        text-align: center;
        font-size: 1.5em;
        text-transform: uppercase;
        text-shadow: 7px 7px 7px #000000;
        z-index: 50;

}

section.modulo.content{
    width: 90%;
}
section.modulo.parallax-1{
    background-image: url(https://cdn.pixabay.com/photo/2017/01/12/14/22/coffee-1974841_1280.jpg);
}

}